
/* --------------------------------------------------About US Page------------------------------------------- */
.sub-header
{
    height: 80vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('images/procreator-ux-design-studio-VzJjPuk53sk-unsplash.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 70px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img{
    width: 65%;
    margin-left: 20%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #187dff;
    background:transparent;
    color: #187dff;
}

.red-btn:hover{
    color: #fff;
}

@media(max-width:700px){
    .row{
        flex-direction: column-reverse;
    }
}
