

/* --------------------------------------------------Blog ---------------------------------------------*/

.sub-header{
    height: 80vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('images/blog.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;

}
h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 70px;
}
.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}


.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
    color: #187dff;
    border: 1px solid #187dff;
}

.comment-form button:hover{
    color: white;
}

@media(max-width:700px)
{
    .sub-header h1{
        font-size: 24px;
    }
}

